.single-product{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 50px;
}
.cart-container{
  padding: 70px 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.shop-container{
  margin-bottom: 100px;
}
.choose-btn{
  width: 100%;
  background-color: #001c40;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.reset-btn{
  width: 100%;
  background-color: #be4bdb;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}



/* START Responsive CSS Code */

@media (max-width: 1199px) {

  .cart-container{
    margin-top: 70px;
  }

}
/* Desktop View */

@media (max-width: 991px) {

  .single-product{
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-container{
    margin-top: 70px;
  }

}
/* Laptop View */

@media (max-width: 576px) {

  .single-product{
    grid-template-columns: repeat(1, 1fr);
  }
  .cart-container{
    margin-top: 70px;
  }

}
/* Mobile View */